* {
    margin: 0%;
}
a{
    text-decoration: none;
}
.carousel .item {
    height: 300px;
}  
.item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
}
.product-slider{
    background-color: #f5f5f7;
    padding: 0px 20px;
    box-sizing: border-box;

}
.slider-heading{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0px auto;
    padding: 0px 20px;
}
.slider-heading h3{
    font-size: 1.75rem;
    color: #1d1d1f;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 34px;
}
.slider-heading h3 span{
    color: #6e6e73;
}
.product-box{
    display: flex;
    flex-direction: column;
    width: 400px;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.03);
    border:1px solid rgba(0,0,0,0.08);
    overflow: hidden;
    transition: all ease 0.3s;

}
.product-box strong{
    color: #29292c;
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 24px;    
}
.product-box img{
    width: 210px;
    height: 250px;
    display: flex;

    padding: 20px 0px;
    object-fit: contain;
    object-position: center;
    margin: 20px auto;
}
.available-colors{
    display: flex;
    justify-content: center;
    align-items: center;

}
.available-colors .product-color{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: flex;
    border: 1px solid rgba(0,0,0,0.01);
    box-shadow: inset 2px 2px 30px rgba(0,0,0,0.03);
    margin: 3px;
}
.buy-price{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px;

}
.buy-price p{
    color: #6e6e73;
    font-size: 0.9rem;
    max-width: 250px;
    line-height: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.buy-price .buy-btn{
    color: #ffffff;
    background-color: blue;
    text-decoration: none;
    width: 80px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:20px;
}
@media(max-width:600px){
    .slider-heading h3{
        font-size: 21px;
    }
    .product-box{
        width: 310px;
        margin: 10px;
        box-sizing: border-box;
    }
    .product-box img{
        width: 160px;
        height: 190px;
        padding: 0;
    }
    .product-box strong{
        font-size: 21px;
    }
    .product-slider{
        padding: 0px;
    }
}
@media(max-width:400px){
    .product-box{
        width: 280px;
    }
    .buy-btn{
        font-size: 0.8rem;
    }
}
@media(max-width:324px){
    .product-box{
        width: 225px;
    }
    .product-box img{
        width: 140px;
        height: 165px;
    }
    .buy-price{
        flex-direction: column;
    }
    .buy-price .buy-btn{
        width: 100%;
    }
}
footer{
    font-family:'Roboto', sans-serif; 
    margin-bottom:0px; 
    position: relative;
}

#checkin {
    display: flex;
    justify-content: center;
    padding-bottom: 27%;
    margin: 0%;
}
#cart_count{
    text-align: center;
    padding: 2px 2px 2px 2px;
    border-radius: 1px;
}
#shoppingcart{
    padding: 3% 0;
}